.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* courtesy unsplash.com */
  background-image: url("mountains.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.wrapper:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.wrapper:after {
  content: "";
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.wrapper-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.name {
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.26em;
  font-weight: 300;
  font-style: italic;
  font-family: "freight-big-pro";
  margin-bottom: 0;
  margin-top: 28px;
  text-transform: uppercase;
}

#name {
  font-family: roman-morrissey;
  font-size: 3em;
  text-transform: none;
}
@media screen and (max-width: 576px) {
  #name {
    font-size: 2em;
    text-transform: none;
  }
}
.toggle-music {
  background: transparent;
  border: none;
}

aside {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
}

/* SVG animation */
.loader {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}

#wave {
  height: 70px;
  width: 70px;
  fill: #fff;
}

#Line_1 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#Line_2 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#Line_3 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

#Line_4 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#Line_5 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#Line_6 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#Line_7 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

#Line_8 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#Line_9 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  50% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  50% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}
